# 1. Темп (https://temptraining.ru)

В максимальном пакете услуг предусмотрено **2 очные тренировки в месяц**. Остальное - дастанционное ведение.

Тренер помогает в составлении календаря стартов и подготовке к ним. 
Гарантированное место на сборах и сопровождение на соревнованиях 1 раз в год.

Неограниченная связь с тренером, коррекция посадки на велосипеде, консультации по питанию, стартовый пакет. 
План пишется на месяц вперёд.

**Максимальный пакет подобных услуг - 25000 руб. в месяц**

**4 месяца - 100000 руб.**

# 2. ЦиклON (https://cycleon.ru/price )

В максимальном пакете услуг предусмотрено **2 очные тренировки в неделю.**

- Мониторинг, программа питания, программа фармакологической коррекции.
- Стартовый пакет: беговая футболка или кофта, фляжка, плавательная шапочка, толстовка ЦиклON (синяя или белая), соревновательный комбинезон для триатлона (при оплате сразу за 6 месяцев)
- Видеоанализ техники движений
- Индивидуальный план на гонку
- Контроль, анализ и коррекция плана

**Максимальный пакет - 30000 руб. в месяц**

**4 месяца - 120000 руб.**

# 3. David Warden Coaching (https://main.dwcoaching.ru)

В максимальном пакете услуг не предусмотрены очные тренировки.
Каждая очная тренировка оплачивается отдельно - 3000 руб. 

План на месяц стоит 15000 или 18000 руб.
Если берём 2 очные тренировки в неделю: +24000. Надо отметить, что, вероятнее всего, они выходят персональными. 

Первая встреча с тренером бесплатна. 
Подписка в Training Peaks входит в пакет услуг.

**39000 или 42000 в месяц**

**4 месяца - 156000 или 168000 с учетом двух тренировок в неделю**

# 4. Rullez Team (https://www.rullezteam.com/ru/trainings)

Максимальный пакет услуг с подстройкой под личные цели спортсмена включает в себя все очные групповые тренировки. Они проходят **от 2 до 4 раз в неделю** в зависимости от цикла подготовки. 

Тренировки по плаванию и йоге/растяжке оплачиваются отдельно

**18000 руб. в месяц**

**4 месяца - 72000 руб.**

# 5. Time To Sport

Пакет услуг с 3 очными тренировками в неделю (бег, плавание, велосипед)
"Тренер подведет вас к соревнованию или поможет улучшить спортивную форму"

**14000 или 18000 руб. в месяц (зависит от тренера)**

**4 месяца - 56000 или 72000 руб.**

# 6. Red Lava Team (https://redlavateam.com)

Максимальный пакет услуг включает в себя планирование сезона и соревнований, 10% скидка на тренировочные сборы, бесплатные коллективные вело-выезды, консультации по питанию

**6 очных тренировок в месяц** и скидка 20% на персональные тренировки

**35000 руб. в месяц**

**4 месяца - 140000 руб.**

# 7. Born4Ironman (https://born4swim.ru/triathlon/in-team)

Целевая подготовка 3 месяца - 40000 руб.
**1 месяц - 14000 руб.**

**4 месяца - 56000 руб.**

**2 очные тренировки в неделю**

# 8. Trim Triathlon (https://trim-triathlon.ru)

"Вы выбрали себе старт, тренер подготовит и сделает план с учетом сложности трассы старта на которой вы планируете финишировать"

**2 очные тренировки + контрольная тренировка по плаванию в неделю**

**14500 руб. в месяц**

**4 месяца - 58000 руб.**

# 9. Trilogy (http://trilogysport.ru/price)

Индивидуальный тренировочный план не предусматривает групповые тренировки. Они оплачиваются отдельно и стоят от 2500 до 3000 руб. 

**18500 руб. в месяц**

**6 групповых тренировок в месяц - 18000**

**В сумме - 36500 руб. в месяц**

**4 месяца - 146000 руб.**

# 10. Iron Angel (https://iron-angel.ru/price)

Индивидуальный тренировочный план не предусматривает очные тренировки. Они оплачиваеются отдельно. Персональная тренировка стоит 2500 руб. 

15000 или 18000 руб. в месяц (зависит от тренера)
6 очных тренировок в месяц - 15000 руб.
**В сумме - 30000 или 32000 руб. в месяц**

**4 месяца - 120000 или 128000 руб.**

In [3]:
import pandas as pd
data = pd.DataFrame({'Школа': ['Темп', 'ЦиклON', 'David Warden Coaching', 'Rullez Team',
                              'Time To Sport', 'Red Lava Team', 'Born4Ironman', 
                              'Trim Triathlon', 'Trilogy', 'Iron Angel'], 
                     'Стоимость в месяц': [25000, 30000, 39000, 18000, 18000, 35000, 14000, 
                                          14500, 36500, 32000],
                     'Стоимость (4 месяца)': [100000, 120000, 156000, 72000, 72000, 140000,
                                             56000, 58000, 146000, 128000]})
data

                   Школа  Стоимость в месяц  Стоимость (4 месяца)
0                   Темп              25000                100000
1                 ЦиклON              30000                120000
2  David Warden Coaching              39000                156000
3            Rullez Team              18000                 72000
4          Time To Sport              18000                 72000
5          Red Lava Team              35000                140000
6           Born4Ironman              14000                 56000
7         Trim Triathlon              14500                 58000
8                Trilogy              36500                146000
9             Iron Angel              32000                128000

Медиана средней цены в месяц:

In [7]:
data['Стоимость в месяц'].median()

27500.0

Медиана средней цены за 4 месяца:

In [6]:
data['Стоимость (4 месяца)'].median()

110000.0